table.patientsTable {
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 40px;
  }
  table.patientsTable td, table.patientsTable th {
    border: 1px solid #AAAAAA;
    padding: 10px 10px;
  }
  table.patientsTable tbody td {
    font-size: 20px;
  }
  table.patientsTable thead {
    background: #12557f;
    border-bottom: 5px solid #FFFFFF;
  }
  table.patientsTable thead th {
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
